/*Herencia en CSS*/

body{
    color: red;
    border: 1px solid blue;
}


div{
    border: initial;
}

/*Initial -> Restaura el valor inicial por defecto*/
/*Inherit -> Hereda el valor del elemento padre*/
/*unset -> Combina los dos anteriores: hereda si es heredable, y si no, pone el valor inicial*/