.shape {
    background: #0aec42;
    width: 150px;
    height: 150px;
    margin: 100px auto;
    transition: all 2s;
}

.shape:hover {
    transform: rotate(360deg);
}

.s2 {
    background: orange;
    transform-origin: left;
}