/*Pseudoclases CSS*/

/*Enlaces no visitados*/

a:link{ 
    color:orange; /*Color inicial del enlace antes de ser visitados*/
}

/*Enlaces ya visitados*/
a:visited{
    color:brown;
}

/*Cuando el usuario hace clic o escribe en él*/

input:focus{
    background: red;
}

/*Cuando el curso pase por encima se aplique un estilo*/

a:hover{
    color: red;
    font-size: 20px;
}

/*Pseuclase de negación :not()
Aplicar estilos a todos los parrafor <p> que NO tengan la clase "miparrafo"
*/
p:not(.miparrafo){
    color:blue;
}

