div {
    width: 200px;
    height: 200px;
    margin: 70px;
    display: inline-block;
}

.elemento1 {
    background: orange;
}

.elemento1:hover{
    background: #ff3300;
}

.elemento-transicion {
    background-color: #00cedd;
    /*
    transition-property: background;
    transition-duration: 1s;
    transition-timing-function: linear
    transition-delay: 1s
    */
    transition: all 1s linear 0.2s;
}

.elemento-transicion:hover{
    background: #001380;
}