*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*Por defecto -> box-sizing: content-box
    width: 200px;
    padding: 20px;
    border: 10px;
    200 + 20 +20 +10 +10 = 260px
    */
}

div{
    background-color: #0090c9;
    width: 100%;
    height: 200px;
    padding: 20px;
}