/*Pseudoclases avanzadas*/

p:first-child{
    color: blue;
}

p:last-child{
    color:red;
}
/*3º contando desde arriba*/
p:nth-child(3){
    color:turquoise;
}
/*3º contando desde abajo*/
p:nth-last-child(3){
    color:violet;
}
/*Pares*/
p:nth-child(even){
    color:orange;
}

/*Impares*/
p:nth-child(odd){
    color:red;
}

p:nth-child(4n){
    color: black;
}