/*Selectores para atributos*/

/*Selectores por atributo exacto*/

input[type="number"]{
    background-color: red;
}

a[href="www.prometeo.es"]{
    color:orange;
}

/*Selector qeu contiene una palabra o cadena*/
a[href*="prometeo"]{
    color: green;
}

/*Selector que compienza por una palabra o prefijo*/

a[href^="http"]{
    color:red;
}

/*Selectores que terminan en una palabra o sufijo*/

a[href$=".pdf"]{
    color:yellow;
}